body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
:root {
  --masonry-col-gutter: 16px;
  --masonry-row-gutter: 16px;
  --header-height: 4.1rem;
  --search-header-height: 3.8rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  background: #fff;
}

.masonry-container {
  display: flex;
  margin: 1rem 0;
}

.masonry-container > .masonry-column {
  flex: 1;
}

.masonry-column + .masonry-column {
  margin-left: var(--masonry-col-gutter);
}

.masonry-column > * {
  margin-top: var(--masonry-row-gutter);
}

.photo-item {
  animation: photo-item-reveal 0.7s ease;
  position: relative;
}

.photo-item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.photo-item:hover::before {
  content: '';
  z-index: 0;

  background-image: linear-gradient(
    rgba(0, 0, 0, 0.2) 10%,
    transparent 40%,
    70%,
    rgba(0, 0, 0, 0.2) 90%
  );
}

.photo-item .photo-item__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity;
  cursor: zoom-in;
}

@keyframes photo-item-reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1024;
  background: #fff;
  box-shadow: 0 8px 6px -6px rgb(0 0 0 / 9%);
  height: var(--header-height);
}

.app-header,
.search-header {
  padding: 0 1.2rem;
}

.search-header .search-filter {
  display: flex;
  margin-top: 0.75em;
  flex-wrap: wrap;
  align-items: center;
}

.app-logo {
  text-decoration: none;
  color: unset;
  padding: 1em 1.5em 1em 0;
  display: inline-block;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .logo-main {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 1rem;
  user-select: none;
  white-space: nowrap;
}

.logo-main .logo-main__text {
  font-size: 1rem;
  font-weight: 700;
  font-family: sans-serif;
}

.app-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-content {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 1em;
}

.nav-search {
  max-width: 450px;
  width: 100%;
}

.search-bar {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 24px;
  background-color: #eee;
  border: 1px solid transparent;
  transition: background 0.3s, border 0.3s;
  padding: 0 1rem;
}

.search-bar:focus-within {
  background: #fff;
  border-color: #d1d1d1;
}
.search-bar .search-bar__input {
  background: transparent;
  width: 100%;
  display: inline-block;
  height: 100%;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #111;
}

.search-bar .search-bar__input:focus,
.search-bar .search-bar__submit:focus,
.search-bar .search-bar__clear:focus {
  outline: none;
}

.search-bar .search-bar__submit,
.search-bar .search-bar__clear {
  border: none;
  background: transparent;
  cursor: pointer;
  line-height: 1;
}

.search-bar .search-bar__submit {
  padding: 0 0.7em 0 0;
}

.search-bar .search-bar__clear {
  padding: 0 0 0 0.7em;
}

.search-term {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 4rem 0 3rem;
}

.search-term::first-letter {
  text-transform: capitalize;
}

.search-header {
  position: sticky;
  min-height: var(--search-header-height);
  width: 100vw;
  top: var(--header-height);
  z-index: 1;
  background: #fff;
  box-shadow: 0 8px 6px -6px rgb(0 0 0 / 9%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.search-header__photos {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #111;
  font-size: 0.9rem;
}

.search-header__photos-content {
  padding-left: 0.35em;
}

.clear-filters {
  background-color: #fff;
  color: #767676;
  padding: 0.75em 1em;
  font-size: 0.9rem;
  border: none;
  user-select: none;
  font-weight: 500;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;
}

.clear-filters:hover {
  color: #111;
}

.dropdown-menu {
  position: relative;
}

.dropdown-menu .dropdown-menu__action {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #767676;
  padding: 0.75em 1em;
  font-size: 0.9rem;
  border: none;
  user-select: none;
  font-weight: 500;
  font-family: inherit;
  line-height: 1;
  cursor: pointer;
}

.dropdown-menu .dropdown-menu__action::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 6px solid #d1d1d1;
  border-color: #d1d1d1 transparent transparent;
  position: relative;
  top: 4px;
  margin-left: 6px;
}

.dropdown-menu.active .dropdown-menu__action,
.dropdown-menu .dropdown-menu__action:hover {
  color: #111;
}

.dropdown-menu.active .dropdown-menu__action::after,
.dropdown-menu .dropdown-menu__action:hover::after {
  border-top-color: #767676;
}

.dropdown-menu .dropdown-menu__content {
  position: absolute;
  display: none;
  top: 100%;
  background: rgb(255, 255, 255);
  right: 0.5rem;
  min-width: 135px;
  transform: scale(0.9) translate(4px, -8px);
  padding: 0.25em 0;
  border: 1px solid #d1d1d1;
  z-index: 1;
  box-shadow: 0 8px 16px rgb(0 0 0 / 16%);
  border-radius: 4px;
}

.dropdown-menu.active .dropdown-menu__content {
  display: block;
}

.dropdown-menu__content .dropdown-menu__content-item {
  padding: 0.75em 1em 0.75em 2em;
  color: #767676;
  cursor: pointer;
  position: relative;
  user-select: none;
  white-space: nowrap;
}

.dropdown-menu__content
  .dropdown-menu__content-item[data-checked='false']:hover {
  color: #111;
  background: #f5f5f5;
}

.dropdown-menu__content .dropdown-menu__content-item[data-checked='true'] {
  color: #111;
  cursor: default;
  pointer-events: none;
}

.dropdown-menu__content-item .dropdown-menu__checked {
  position: absolute;
  left: 0.4em;
  display: none;
}

.dropdown-menu__content-item[data-checked='true'] .dropdown-menu__checked {
  display: block;
}

.color-tone {
  display: inline-flex;
  width: 18px;
  height: 18px;
  border: 1px solid #cacaca;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.color-tone .color-tone__checked {
  line-height: 1;
  display: flex;
}

.color-tone-filter {
  display: grid;
  grid-template-columns: repeat(5, 4fr);
  grid-row-gap: 0.5rem;
  margin: 0.8em 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.3s;
}

.fadeIn {
  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-direction: reverse;
}

.selected-color-filter {
  display: inline-flex;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .search-header {
    flex-direction: row;
    align-items: center;
  }

  .search-header .search-filter {
    margin-top: 0;
  }
}

.empty-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.github-link {
  opacity: 0.7;
  transition: opacity 300ms;
}

.github-link:hover {
  opacity: 1;
  cursor: pointer;
}
